* {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    background-color: #141414;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

main {
    background-color: #303030;
    padding: 20px;
    box-shadow: 0 1px 10px #ccc;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main > div {
    background-color: #303030;
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    padding: 5px;
    outline: none;
    accent-color: #8a2be2;
    border-color: #8a2be2;
}

label {
    background-color: #303030;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
}

input[type=range] {
    width: 90%;
}

button {
    background-color: #8a2be2;
    cursor: pointer;
    color: #ffffff;
    border: none;
    padding: 5px;
}